@model PDJaya.WebApp.Models.UserProfile

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this User?</h3>
<div>
    <h4>UserProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input name="DeleteItem" type="submit" value="DeleteItem" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
